:root {
    --bg: #222;
    --fg: #eee;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg: #eee;
        --fg: #111;
    }
}

html,
body {
    height: 100svh;
    max-width: 100%;
    background: var(--bg);
    color: var(--fg);
    font-family: sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.border {
    border: 1px solid var(--fg);
    border-radius: 5px;
    padding: 8px;
}

.slider {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.slider input {
    background: var(--bg);
    color: var(--fg);
    border: 1px solid var(--fg);
    border-radius: 5px;
    max-width: clamp(9rem, 50%, 20rem);
}

input:disabled {
    color: gray;
    border-color: gray;
    opacity: 0.6;
}

.components {
    width: clamp(150px, 25%, 300px);
    object-fit: contain;
    flex: 1;
}

.controls {
    flex: 1;
}

img {
    width: clamp(100px, 50%, 250px);
}

.special-trim {
    flex: 1;
    display: flex;
}

.special-trim-lf-cost {
    width: max-content;
}

.special-trim-display {
    flex: 1;
}